nav {
    display: flex;
    justify-content: center;
    box-shadow: 1px 3px 5px #e5e5e5
}

nav div {
    width: 80%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    display: inline-block;
    margin: 15px;
    font-size: 1.1em;
    cursor: pointer;
}

#text-logo {
    color: #000;
   
}

a{
    text-decoration: none;
    color: #000;
}

#logo-dark {
    width: 60px;
    height: 57px;
}